<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416750592033-7f7n5mhvfk4uq0iekt32a1g7si5qnooi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416750592033-7f7n5mhvfk4uq0iekt32a1g7si5qnooi</string>
	<key>API_KEY</key>
	<string>AIzaSyAQS7BsUd7kwohqNt8NMcpq_cSMpeqZuyc</string>
	<key>GCM_SENDER_ID</key>
	<string>416750592033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login</string>
	<key>PROJECT_ID</key>
	<string>samjsevak-14cd2</string>
	<key>STORAGE_BUCKET</key>
	<string>samjsevak-14cd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416750592033:ios:f06cf30ee59989f6860360</string>
</dict>
</plist>